<!DOCTYPE html>
<html>
  <head>
    <title>ポートフォリオ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">ホーム</a></li>
          <li><a href="#">プロジェクト</a></li>
          <li><a href="#">経歴</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <h1>私のポートフォリオ</h1>
        <p>エンジニアのポートフォリオサイトです。</p>
      </section>
      <section id="projects">
        <h2>プロジェクト</h2>
        <div class="project-container">
          <div class="project">
            <img src="images\geoguesser_tkb.png" alt="プロジェクト1の画像">
            <h3>プロジェクト1</h3>
            <p>このプロジェクトの説明。</p>
          </div>
          <div class="project">
            <img src="project2.png" alt="プロジェクト2の画像">
            <h3>プロジェクト2</h3>
            <p>このプロジェクトの説明。</p>
          </div>
          <div class="project">
            <img src="project3.png" alt="プロジェクト3の画像">
            <h3>プロジェクト3</h3>
            <p>このプロジェクトの説明。</p>
          </div>
        </div>
      </section>
      <section id="experience">
        <h2>経歴</h2>
        <ul>
          <li>経歴1</li>
          <li>経歴2</li>
          <li>経歴3</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>©2023, 私のポートフォリオ. All rights reserved.</p>
    </footer>
  </body>
</html>
